.sidebar {
    width: 200px;
    background-color: rgb(128, 128, 128);
    padding: 20px 0 0 0;
    height: 100vh;
    position: relative;
}

.sidebar img {
    border-radius: 50px;
}

.sidebar h5 {
    color: white;
    margin-top: 10px;
}

.items-container {
}

.menu-item {
    width: 200px;
    padding: 10px 0 10px 20px;
    transition: background-color 0.5s;
    cursor: pointer;
}

.menu-item:hover {
    background-color: lightgray;
}

.items-container a {
    text-decoration: none;
    color: white;
}

#header-manage-member {
    padding: 0 15px;
    display: flex;
}

#header-manage-member h5 {
    font-size: 2em;
}

#role-assgin-button {
    float: right;
    width: 100px;
    padding: 0 20px;
}

.create-project {
    background: #f7f7f7;
    padding: 20px;
}

.create-project label,
.create-project select {
    display: block;
}

.create-project label {
    margin-top: 30px;
}

.create-project select {
    padding: 8px;
    width: 200px;
}

.create-project input[type="checkbox"] {
    margin: 10px;
}

.create-project input[type="submit"] {
    background: #5e2195;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
}

.create-project fieldset {
    border: 0;
}

.chart-container {
    display: flex;
}

/* .ticket-cursors {
    display: inline;
} */

.ticket-back {
    display: inline;
}

.ticket-edit {
    display: inline;
    float: right;
}
